/* src/pages/ContactPage.css */
.contact-page {
  padding: 20px;
}

.contact-info {
  margin-bottom: 20px;
}

.images-and-map {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.images {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.contact-image {
  width: 250px; /* Устанавливаем фиксированную ширину для изображений */
  height: auto;
  border-radius: 8px; /* Немного закругляем углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для красивого отображения */
}

.map-container {
  flex-grow: 1;
  text-align: center;
  min-width: 300px;
}
